PORT=3000
NODE_ENV=production
CORS_ORIGIN=https://tudominio.com,http://TU_IP_PUBLICA

SUPABASE_URL=https://tu-proyecto.supabase.co
SUPABASE_KEY=tu_publishable_key
SUPABASE_SERVICE_ROLE_KEY=tu_service_role_key

JWT_SECRET=cambia_este_secret_largo

STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxxxxxx
STRIPE_CURRENCY=usd

EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_app_password_de_gmail
EMAIL_FROM_NAME=TravelGo
